@font-face {
    font-family: Ojuju;
    src: url(./font/Ojuju-VariableFont_wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(./font/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(./font/Oswald-VariableFont_wght.ttf);
}

